table{
  background-color: thistle;
  margin: 0px auto;
  margin-top: 13%;
}
.enableLetters,
#score,
#fail,
#hangman,
#startmessage:disabled {
  background: white;
  color: black;
}
body {
	 background: #007073;
	 color: #fff;
	 height: 100%;
	 text-align: center;
	 font-size: 25px;
}
